* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, aliceblue 20%, gray 40%, steelblue 80%);
    border-radius: 50%;
    display: flex;
    padding: 2px;
    transition: transform 0.3s;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
}

body {
    background-color: #0B2E44;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 160%;
}

main {
    max-width: 382px;
    width: 90%;
    margin: 32px auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

section {
    color: #ffffff;
    background-image: linear-gradient(90deg, aliceblue 20%, gray 40%, steelblue 80%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #154e79;
    border-radius: 8px;
    padding: 23px 32px 32px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
    font-size: 15px;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    alignment: center;
    gap: 12px;
    margin-top: 24px;
}

section ul li {
    transition: transform 0.3s;
}

section ul li:hover {
    transform: scale(1.1);
}

.who-we-are img {
    border-radius: 8px;
    width: 90px;
}

.partners img {
    border-radius: 8px;
    width: 45px;
}

.social-list img {
    width: 35px;
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: .0s;
}

main section:nth-child(3) {
    animation-delay: .4s;
}

main section:nth-child(6) {
    animation-delay: .8s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}